Hello {{"<>&"}} {{&"<>&"}} {{%"url& _— encode"}} {{name}} (user id {{id}})!

{{\'This is a test: " \ '}}

{{?name; id=2}}
True 1
{{/}}
{{^name; id=2}}
False 1
{{/}}
{{?name; id=3}}
False 2
{{/}}
{{^name; id=3}}
True 2
{{/}}

This should be Sam: {{name;;;LIMIT 1 OFFSET 1}}

{{#;id<=2}}
True: {{name}}

{{~}}
False 3
{{/}}

{{#;id>2}}
FALSE: {{name}}

{{~}}
True 4
{{/}}

{{!"pwd"}}

{{<"tests/input.mustache"}}

{{>tests/input.mustache}}
