Hello {{"<>&"}} {{&"<>&"}} {{%"url&encode"}} {{name}} (user id {{id}})!

{{?name WHERE id=2}}
True 1
{{/}}
{{^name WHERE id=2}}
False 1
{{/}}
{{?name WHERE id=3}}
False 2
{{/}}
{{^name WHERE id=3}}
True 2
{{/}}

{{#id<=2}}
True: {{name}}

{{~}}
False 3
{{/}}

{{#id>2}}
FALSE: {{name}}

{{~}}
True 4
{{/}}

{{!"date"}}
